body {
    padding: 0;
    margin: 0;
}
#app {
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: -webkit-transform 600ms;
    transition: -webkit-transform 600ms;
}

#app.show-date-filter {
    -webkit-transform: translateY(150px);
    transform: translateY(150px);
}

svg {
    width: 100%;
    height: 100%;
}

#map {
    position: absolute !important;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #f0e5d1;
}

#print-pane {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: -99;
}

#map-print {
    width: 18cm;
    height: 22cm;
}

#filter-pane form, #info-pane {
    position: absolute;
    background: #fff;
    overflow-y: auto;
    padding: 1em;
    left: 0;
    width: 20%;
    height: 100%;
    box-shadow: 0 0 10px grey;
    z-index: 1;
}

#filter-pane form > div {
    margin-bottom: 2em;
}

#graph-pane {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 100%;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0 0 10px grey;
}

#graph-pane .close {
    position: absolute;
    right: 0;
    font-size: 30px;
    margin-right: 0.5em;
}

#filter-info {
    background: url(../images/D9EDF7-0.9.png);
    color: #3a87ad;
    padding: 0.5em;
    position: relative;
}

.leaflet-top {
    top: 2.5em;
}

.checkbox .select {
    visibility: hidden;
}

.checkbox:hover .select {
    visibility: visible;
}

#info-pane th {
    text-align: right;
}
.blank {
    color: grey;
}

.select {
    font-size: 12px;
    font-weight: normal;
}

#info-pane .close {
    display: none;
    font-size: 36px;
    margin-top: -0.5em;
    margin-right: -0.2em;
}

#info-pane.sticky .close {
    display: block;
}

#info-pane img {
    width: 100%;
    min-height: 150px;
    display: block;
    background: url(../images/loader.gif) no-repeat 50% 50%;
}
.leaflet-div-icon {
    background: none;
    border: none;
}
.leaflet-div-icon .number {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/pin-s+de2d26.png) no-repeat 50% 50%;
}
.form-control, .checkbox {
    width: auto;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.marker {
    -webkit-transition: opacity 100ms;
}

.marker.filtered {
    opacity: 0.15;
}

.marker .outline {
    stroke-width: 2;
    stroke: #fff;
}

.marker.hover .outline {
    stroke-width: 6;
    stroke: #fff;
    stroke-opacity: 0.7;
}

.marker.clicked .outline {
    stroke-width: 8;
    stroke: #fff;
    stroke-opacity: 1;
}

.marker .marker-text {
    display: none;
    position: absolute;
    font-size: 12px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    text-align: center;
    margin-top: 4px;
}

.marker.mining {
    fill:rgb(166, 206, 227)
}
.marker.logging {
    fill:rgb(31, 120, 180)
}
.marker.crossing {
    fill:rgb(178, 223, 138)
}
.marker.rustling {
    fill:rgb(51, 160, 44)
}
.marker.hunting {
    fill:rgb(251, 154, 153)
}
.marker.fishing {
    fill:rgb(227, 26, 28)
}
.marker.trapping {
    fill:rgb(253, 191, 111)
}
.marker.tourism {
    fill:rgb(255, 127, 0)
}
.marker.artefacts {
    fill:rgb(202, 178, 214)
}
.marker.other {
    fill:rgb(106, 61, 154);
}
.marker.grazing {
    fill:rgb(247, 129, 191)
}

#happening .label {
    background-color: #000;
}

.filter .not_recorded label {
    font-style: italic;
}

#happening .mining .label {
    background-color:rgb(166, 206, 227)
}
#happening .logging .label {
    background-color:rgb(31, 120, 180)
}
#happening .crossing .label {
    background-color:rgb(178, 223, 138)
}
#happening .rustling .label {
    background-color:rgb(51, 160, 44)
}
#happening .hunting .label {
    background-color:rgb(251, 154, 153)
}
#happening .fishing .label {
    background-color:rgb(227, 26, 28)
}
#happening .trapping .label {
    background-color:rgb(253, 191, 111)
}
#happening .tourism .label {
    background-color:rgb(255, 127, 0)
}
#happening .artefacts .label {
    background-color:rgb(202, 178, 214)
}
#happening .other .label {
    background-color:rgb(106, 61, 154);
}
#happening .grazing .label {
    background-color:rgb(247, 129, 191)
}
