.mapboxgl-popup-tip {
  border: 0;
}

.mapboxgl-popup {
  top: -12px;
}

.mapboxgl-popup-content {
  padding: 0;
  background-color: black;
  cursor: pointer;
  pointer-events: none;
}

.mapboxgl-popup-content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
}

.mapboxgl-popup-content .__mf_popup_title {
  background-color: black;
  width: 200px;
  color: white;
}

.mapboxgl-popup-content .__mf_popup_title.__mf_popup_img {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mapboxgl-popup-content .__mf_popup_title h1, .mapboxgl-popup-content .__mf_popup_title h2 {
  margin: 5px 10px;
}

.mapboxgl-popup-content .__mf_popup_title h2 {
  font-style: normal;
  font-size: 14px;
}
