@page {
    margin: 1.5cm;
    padding: 0;
}

#map, 
#filter-pane, 
#info-pane
{
    display: none;
}

#app {
    position: static;   
}

#print-pane {
    visibility: visible;
    display: block;
    position: static;
    overflow: visible;
}

h1, h2, h3 {
    margin-top: 0;
}

#map-print {
    width: 18cm;
    height: 22cm;
    background-color: #f0e5d1;
    border: 1px solid black;
}

#print-pages .first-page, #print-pages .info-print-view {
    page-break-after: always;
}

button.close {
    display: none;
}

.map-icon {
    position: relative;
    float: left;
    width: 25px;
    height: 34px;
    -webkit-transform: scale(2);
    -webkit-transform-origin: 5px 5px;
    margin: 0 25px 25px 0;
}

.map-icon .marker-text {
    margin-top: 5px;
}

.image-wrapper {
    padding: 0 8px;
}

.image-wrapper img {
    max-height: 5in;
    width: 100%;
    border: 1px solid black;
}

.image-wrapper .caption {
    padding: 3px 0 16px;
}

.marker.filtered {
    display: none;
}

.marker .marker-text {
    display: block;
}

/* ------------- */
/* CSS for print preview, overridden with @media rule below */
/* ------------- */

#print-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 1em 2em;
    z-index: 9999;
}

#print-header .btn-group {
    position: absolute;
    bottom: 0;
    right: 0;
}

#print-header form {
    width: 18cm;
    margin: 0 auto;
    position: relative;
}

#print-pages {
    margin-top: 11em;
}

#print-pages .first-page {
    padding: 1.5cm;
    width: 21cm;
    height: 29.7cm;
    margin: 20px auto;
    border: 1px solid black;
}

.leaflet-control-container .leaflet-top {
    top: 0;
}

.info-print-view {
    border: 1px solid black;
    width: 21cm;
    padding: 1.5cm;
    height: 29.7cm;
    margin: 20px auto;
}



@media print {
    #print-header {
        display: none;
    }

    #print-pages {
        margin: 0;
        width: 18cm;
    }

    #print-pages .first-page,
    #print-pages .info-print-view {
        border: none;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0 auto;
    }

    .leaflet-control-container {
        display: none;
    }
}