<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width" />
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/aight/1.1.1/aight.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sizzle/1.10.9/sizzle.min.js"></script>
  <![endif]-->
  <script src='js/lib/jquery-2.0.3.js'></script>
  <script src='js/lib/d3.v3.js'></script>
  <script src='js/lib/locale.js'></script>
  <script src='data/locale.js'></script>
  <script src='js/lib/leaflet-0.7.1.js'></script>
  <script src='js/lib/lodash.modern-2.4.1.js'></script>
  <script src='js/lib/queue-from-async.js'></script>
  <script src='js/lib/backbone.js'></script>
  <script src='js/lib/backbone-github.js'></script>
  <script src='js/lib/crossfilter.v1.js'></script>
  <script src='js/lib/bing_layer.js'></script>
  <script src='js/lib/leaflet_providers.js'></script>

  <script src='js/mapfilter/monitoring_point.js'></script>

  <script src='js/mapfilter/mapfilter.js'></script>

  <script src='js/mapfilter/collection.js'></script>

  <script src='js/mapfilter/map_pane/map_pane.js'></script>
  <script src='js/mapfilter/map_pane/marker_view.js'></script>
  <script src='js/mapfilter/map_pane/current_view_info.js'></script>

  <script src='js/mapfilter/info_pane/info_pane.js'></script>

  <script src='js/mapfilter/filter_pane/filter_pane.js'></script>
  <script src='js/mapfilter/filter_pane/discrete_filter_view.js'></script>
  <script src='js/mapfilter/filter_pane/continuous_filter_view.js'></script>
  <script src='js/mapfilter/filter_pane/graph_pane.js'></script>
  <script src='js/mapfilter/filter_pane/bar_chart.js'></script>

  <script src='js/mapfilter/print_pane/print_pane.js'></script>
  <script src='js/mapfilter/print_pane/info_print_view.js'></script>

  <link href='css/bootstrap.css' rel='stylesheet' />
  <link href='css/leaflet.css' rel='stylesheet' />
  <link href='css/core.css' rel='stylesheet' />
  <link href='css/print.css' rel='stylesheet' id="print-style-sheet" media="print" />
  <link href='css/chart.css' rel='stylesheet' />

</head>

<body>

<div id="app">

</div>

<script type="text/html" id="template-info-pane">
<button type="button" class="close pull-right" aria-hidden="true">&times;</button>
<div class="map-icon">
</div>
<h3>
  <%= t(getPlacename()) %><br>
  <small><%= getWhat() === "Not Recorded" ? "Other" : getWhat() %></small>
</h3>
<div class="image-wrapper">
  <% if (getImgUrl()) { %>
    <img src="<%= getImgUrl() %>">
    <div class="caption"><strong>Caption:</strong> <%= t(get("caption")) %></div>
  <% } %>
</div>
<table class="table">
<tr>
  <th>Where:</th>
  <td><%= t(getLocation()) %></td>
</tr>
<tr>
  <th>Impacts:</th>
  <td><%= t(getImpacts()) %></td>
</tr>
<% if (attributes.other_info) { %>
<tr>
  <th>Notes:</th>
  <td><%= attributes.other_info %></td>
</tr>
<% } %>
<tr>
  <th>Visited&nbsp;by:</th>
  <td><%= getWho() %></td>
</tr>
<tr>
  <th>Visit&nbsp;date:</th>
  <td><%= getWhen() %></td>
</tr>
</table>
</script>

<script type="text/html" id="template-discrete-filter">
<h4><%= title %> &nbsp;<small><a href="#" class="select select_all"><%= t("ui.select_all")%></a></small></h4>
<div>
  <% checkboxes.forEach(function(checkbox) { %>
    <%= checkbox %>
  <% }); %>
</div>
</script>

<script type="text/html" id="template-continuous-filter">
<h4>Dates &nbsp;<small><a href="javascript:void(0);" class="select select_all"><%= t("ui.filter_view.select_all") %></a></small></h4>
<div class="filter_range">
<%= filterRange %>
<br><small><a href="javascript:void(0);" class="select select_range"><%= t("ui.filter_view.select_dates") %></a></small>
</div>
</script>

<script type="text/html" id="template-checkbox">
<div class="<%= className %>">
  <label>
    <input type="checkbox" value="<%= key %>" checked>
    <span class="<%= labelClass %>"><%= text %></span>
    &nbsp;<small><a class="select select_one" href="javascript:void(0);"><%= t("ui.filter_view.select_one") %></a></small>
  </label>
</div>
</script>

<script type="text/html" id="template-print-pane">
<div id="print-header">
  <form class="print-options">
    <p><%= t("ui.print_view.print_view_description") %></p>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="show-large-map" checked>
        <%= t("ui.print_view.show_large_map") %>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="show-info" checked>
        <%= t("ui.print_view.show_info_list") %>
      </label>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default cancel">Cancel</button>
      <button type="button" class="btn btn-primary print">Print</button>
    </div>
  </form>
</div>
<div id="print-pages">
  <div class="first-page">
    <h1>Monitoring Report</h1>
    <div id="map-print"/>
  </div>
  <div id="info-panes-print">
  <% infoPanes.forEach(function(infoPane) { %>
    <%= infoPane.$el.html() %>
  <% }); %>
  </div>
</div>
</script>

<script src='js/setup.js'></script>

</body>

</html>