*{
    font-family:Arial;
    font-size:12px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #484848;
	font-size: 1em;
	background-color:#FFFFFF;
    padding:0px;
    margin:0px;
}

a:link, a:visited {
	color: #0086b8;
	text-decoration: none;
}
a:hover {
	color: #00baff;
	text-decoration: underline;
}

mr{
	margin-left:15px;
}

li{list-style:none;}

input.textfield, textarea.textfield {
	border: 0;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 3px;
	outline: 0;
	color: #484848;
    -webkit-box-shadow:inset 0 1px 3px rgba(0, 53, 98, .2);
    -moz-box-shadow:inset 0 1px 3px rgba(0, 53, 98, .2);
    box-shadow:inset 0 1px 3px rgba(0, 53, 98, .2);
}
input.textfield:hover, textarea.textfield:hover {
	border: 0;
}

input.textfield.big{
	width:250px;
}

textarea.textfield.big{
	width:250px;
	height:80px;
}

input.textfield .colorP{
	width:150px;
}

h1{
    font-size:18px;
	font-weight:normal;
}


h2{
	margin-top:50px;
    font-size:17px;
	font-weight:normal;
}


.holder{
	margin:0 auto 15px auto;
    position:relative;
    width:960px;
    text-align:center;
}

.header{
    position:relative;
    height:120px;
    width:960px;
    text-align:left;
}

.header .logo{
    background:url(/images/preloaders_logo.png) no-repeat;
    width:180px;
    height:45px;
    position:absolute;
    left:220px;
    top:45px;
    cursor:pointer;
}

.logo h1{
	position:absolute;
	left:0px;
	top:30px;
	font-size:12px;
	width:300px;
	font-family:Arial;
	font-weight:normal;
}

.header .menu{
    text-align:left;
    margin-top:20px;
}

.header .menu a{
    margin:15px;
	font-size:14px;
}


.content_wrapper{
    width: 100%;
    padding: 0 0 6px 0;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow:0 1px 5px rgba(0, 53, 98, .2);
    -moz-box-shadow:0 1px 5px rgba(0, 53, 98, .2);
    box-shadow:0 1px 5px rgba(0, 53, 98, .2);
    background: #cedce6;
    background: -moz-linear-gradient(left, #cedce6 0%, #e2e9ef 3%, #e2e9ef 96%, #cedce6 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cedce6), color-stop(3%,#e2e9ef), color-stop(96%,#e2e9ef), color-stop(100%,#cedce6));
    background: -webkit-linear-gradient(left, #cedce6 0%,#e2e9ef 3%,#e2e9ef 96%,#cedce6 100%);
    background: -o-linear-gradient(left, #cedce6 0%,#e2e9ef 3%,#e2e9ef 96%,#cedce6 100%);
    background: -ms-linear-gradient(left, #cedce6 0%,#e2e9ef 3%,#e2e9ef 96%,#cedce6 100%);
    background: linear-gradient(to right, #cedce6 0%,#e2e9ef 3%,#e2e9ef 96%,#cedce6 100%);
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.content{
	text-align:left;
	padding:20px 0 20px 30px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #FFFFFF;
}

.content .preview_back{
    position:absolute;
    right:25px;
    top:500px;
}

.content .preview_back div{
    position:absolute;
	top:0px;
    border:1px solid #FFF;
    width:30px;
    height:30px;
    margin: 0 5px;
    cursor:pointer;
    -webkit-box-shadow:0 1px 3px rgba(0, 53, 98, .5);
    -moz-box-shadow:0 1px 3px rgba(0, 53, 98, .5);
    box-shadow:0 1px 3px rgba(0, 53, 98, .5);
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.content .preview_back div.black{
    background:#000;
	right:15px;
}

.content .preview_back div.white{
    background:#FFF;
	right:55px
}

.content .preview_back div.transp{
    background:url(/images/transparent.gif);
	right:-25px;
}

.content .preview_back div.colorful{
    background:url(/images/color_picker_icon_big.png);
	right:95px;
}


/*FOOTER*/
.footer{
        height: 160px;
		clear:both;
		text-shadow:0 1px 0 #fff;
        min-width: 980px;
        background: rgba(0, 0, 0, .02);
        padding: 20px 0 0 0;
		margin-top:40px;
	}
    .footer-inner{
        padding: 0 6%;
    }
		.copyright{
            color:#858585;
            height: 64px;
            padding: 66px 96px 0 0;
            border-right: 1px solid #c3c3c3;
            margin: 0 39px 0 0;
            float: left;
			text-align:center;
        }
            .copyright a, .copyright a:visited{
                position: relative;
                color: #5d6874;
                border-color: #cbcdcf;
            }
            .copyright a:hover{
                color: #df0000;
                border-color: #ff9c9c;
            }
                .og-logo{
                    background: url(/images/og.png) no-repeat 0 0 scroll;
                    display: block;
                    width: 218px;
                    height: 34px;
                    position: absolute;
                    top: -45px;
                    left: -45px;
                }
                .copyright a:hover .og-logo{
                    background-position: 0 -37px;
                }
        .footer-links{
            float: left;
            padding: 25px 0 0 0;
        }
            .footer-nav{
                margin: 7px 0 20px 0;
				padding-left:0px;
            }
                .footer-nav li{
                    display: inline-block;
                    margin: 0 0 0 25px;
                }
                .footer-nav li:first-child{
                    margin: 0;
                }
                    .footer-nav a, .footer-nav a:visited{
                        color: #5d6874;
                        border-color: #cbcdcf;
                    }
                    .footer-nav a:hover{
                        color: #df0000;
                        border-color: #ff9c9c;
                    }
            .our-generators{
				padding-left:0px;
				margin-top:-1px;
            }
                .our-generators li{
                    display: inline-block;
                    margin: 0 0 0 25px;
                }
                .our-generators li:first-child{
                    margin: 0;
                }
        .follow{
            padding: 15px 0 13px 0;
        }
            .follow li{
                float: left;
                margin: 0 0 0 15px;
            }
            .follow li:first-child{margin: 0;}
                .follow li a, .follow li a:visited{
                    background: url(../images/follow.png) no-repeat 0 0 scroll;
                    text-indent: 100%;
                    overflow: hidden;
                    display: block;
                    width: 15px;
                    height: 15px;
                }
                .follow li a.facebook{background-position: 0 0;}
                .follow li a.twitter{background-position: -18px 0;}
                .follow li a.vk{background-position: -36px 0;}
                .follow li a.email{background-position: -54px 0;}

                .follow li a.facebook:hover{background-position: 0 -18px;}
                .follow li a.twitter:hover{background-position: -18px -18px;}
                .follow li a.vk:hover{background-position: -36px -18px;}
                .follow li a.email:hover{background-position: -54px -18px;}
        .footer-social{
            clear: both;
            margin: -40px 0 0 0;
            float: right;
        }
        .footer-social:after{
            content: '';
            clear: both;
            display: block;
        }
            .footer-social li{
                float: left;
                margin: 0 0 0 20px;
            }
            .footer-social li:first-child{
                margin: 0;
            }
		@media screen and (min-width: 1200px) {
        .footer-social{
            clear: none;
            padding: 20px 0 0 0;
            margin: 0;
        }
    }


.categories{
    float:left;
    width:190px;
	margin-top:-54px;
}

.categories li{
    margin: 0px 0px 0px -41px;
	list-style-type: none;
	width:130px;
	border:0px solid #FFF;
    padding:4px 0;
}

.categories li.active_category, .categories li:hover{
	background:#FFF;
	margin-left:-48px;
    padding:4px 7px;
	border:0px solid #BCBCBC;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
    -webkit-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    -moz-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    box-shadow:0 1px 3px rgba(0, 53, 98, .2);
}

 .categories li:hover a:hover{
	text-decoration:none;
 }


.parameters{
    float:left;
    width:339px;
	margin-right:40px;
}

.generator{
    float:left;
    width:335px;
    height:400px;
    display: table-row;
    position:relative;
}

.generator .loading{
    padding:20px;
    background:#FFF;
    position:absolute;
    left:113px;
    top:150px;
    display:none;
}


.generator .generator_content{
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    width:400px;
    height:540px;
	border:0;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;	
    -webkit-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    -moz-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    box-shadow:0 1px 3px rgba(0, 53, 98, .5);
}

.generator .ad{
	position:absolute;
	top:20px;
	left:10px;
	background:#FFF;
	padding:8px;
}

.page_content{
    width:640px;
    float:left;
}

.preloaders{
    position:relative;
	height:50px;
	z-index:10000;
}

.preloaders .selection_box{
	background:#FFF;
	position:absolute;
    border:0;
    width:107px;
	left:160px;
	top:0;
    height:30px;
    padding:10px 30px 10px 10px;
    text-align:center;
	cursor:pointer;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
    -webkit-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    -moz-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    box-shadow:0 1px 3px rgba(0, 53, 98, .2);
}

.preloaders .selection_box img{
	max-height:32px;
}

.preloaders .selection_arrow{
    position:absolute;
    top:20px;
    left:280px;
    width:11px;
    height:8px;
    background:url(/images/arrow_down.gif) no-repeat;
}

.preloaders .preloaders_list{
    overflow:auto;
    width:287px;
    height:350px;
    position:absolute;
    left:0px;
    top:49px;
    border:0;
    padding:15px 5px 15px 15px;
    text-align:center;
    display:none;
    background:#FFF;
    z-index:10000;
	-moz-border-radius: 5px 0 5px 5px;
	-khtml-border-radius: 5px 0 5px 5px;
	-webkit-border-radius: 5px 0 5px 5px;
	border-radius:5px 0 5px 5px;
    -webkit-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    -moz-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    box-shadow:0 1px 3px rgba(0, 53, 98, .2);
}

.preloaders .preloaders_list .preloader{
    margin: 4px 6px;
    cursor:pointer;
    border:1px solid #FFFFFF;
    padding:0;
	float:left;
	width:74px;
	height:84px;
	position:relative;
}

.preloaders .preloaders_list .preloader .instore{
	width:20px;
	height:16px;
	position:absolute;
	top:8px;
	left:65px;
	border:0px;
	display:none;
}

.preloaders .preloaders_list .preloader .info{
	background:#28bdff;
	font-size:9px;
	color:#FFF;
	margin-bottom:10px;
}

.preloaders .preloaders_list .preloader:hover{
    border:1px solid #999;
}

.preloaders .preloaders_list .preloader:hover .info{
	background:#0e719d;
}

.preloaders .preloaders_list .preloader .preloader_name{
	position:absolute;
	left:0;
	bottom:0;
	font-size:9px;
	text-align:center;
	width:74px;
	color:#FFF;
}

.preloaders .preloaders_list .preloader:hover .preloader_name{
	color:#555;
}

.parameters .pr{
    position:relative;
    margin:15px 0;
    height:30px;
}

.parameters .preloaders .pr1{
	padding-top:20px;
}

.parameters .pr .pr1{
    position:absolute;
    left:0px;
    top:0px;
    padding-top:5px;
}

.parameters .pr .pr2{
    position:absolute;
    left:160px;
    top:0px;
}

.parameters .pr .pr3{
    position:absolute;
    left:250px;
    top:0px;
}

.parameters .pr .pr2.size{
    padding:20px 0;
    z-index:100;
}

.parameters .pr .pr2.size input[type=text]{
    width:40px;
	margin-top:-6px;
}

.parameters .pr .pr2 input[type=radio], .parameters .pr .pr2 label{
	float:left;
}

.parameters .pr .pr2 input[type=radio].hidden, .parameters .pr input[type=checkbox].hidden{
	position:absolute;
	left:-10000px;
}

.parameters .pr .pr2 label{
	margin-top:2px;
	padding-right:10px;
}
 
 
 
.parameters .pr .width{
    position:absolute;
    left:12px;
    top:-5px;
	font-size:10px;
}

.parameters .pr .height{
    position:absolute;
    left:74px;
    top:-5px;
	font-size:10px;
}

.parameters .pr input[type=text]{
    width:80px;
    padding:7px;
    border:0;
    margin:-1px 10px 0 0;
}

.parameters .pr input[type=text].color_p{
	padding-left:20px;
	width:60px;
	background:url(/images/color_back.png);
}

.parameters .pr .pr2 .reset_sizes{
    cursor:pointer;
	position:absolute;
	left:130px;
	width:16px;
	height:16px;
	background:url(/images/reset.png) top left no-repeat;
}

.parameters .pr .pr_overlay{
    position:absolute;
    left:-5px;
    top:-5px;
    height:37px;
    width:320px;
    background:url(/images/overlay.png);
    z-index:1000;
    display:none;	
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;	
}

.parameters .parameters_overlay{
	position:absolute;
	text-align:center;
	left:210px;
	top:10px;
	width:330px;
	height:520px;
    background:url(/images/overlay.png);
    z-index:11000;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;	
}

.parameters .parameters_overlay div{
	background:#FFF;
	padding:20px;
	width:200px;
	margin: 100px auto;
	color:#555;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	
    -webkit-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    -moz-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    box-shadow:0 1px 3px rgba(0, 53, 98, .2);
}


.slider{
    margin-top:-5px;
    margin-left:0px;
    background: url(/images/animation_back.gif) 6px 22px no-repeat
}

.message{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding:5px;
    margin:15px;
}


.message.confirm{
	background-color: #a1ffb0;
	border:1px solid #004a0c;
	color:#004a0c;
}

.message.err{
	background-color: #ffaaaa;
	border:1px solid #890000;
	color: #890000;
}

.displaynone{
    display:none;
}

.clearer{
    clear:both;
}

.manual_image{
    text-align:right;
    margin:0 0 10px 10px;
    -moz-box-shadow: 0px 0px 5px #DDD;
    -webkit-box-shadow: 0px 0px 5px #DDD;
    box-shadow: 0px 0px 5px #DDD;
}

.color{
    position:absolute;
    border:0px;
    background:#000;
    left:100px;
    top:-1px;
    height:28px;
    width:45px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
    -webkit-box-shadow:0 1px 3px rgba(0, 53, 98, .5);
    -moz-box-shadow:0 1px 3px rgba(0, 53, 98, .5);
    box-shadow:0 1px 3px rgba(0, 53, 98, .5);
}

.color#backColorP{
    background:#FFF;
}

#fileSizeDiv{
    background:#FFF;
}

.mini_title{
	line-height: 1.5em;
	text-decoration:none;
	color:#484848;
	cursor:text;
}

.red{
	color:#AA0000;
}

.confirm{
	background-color: #a1ffb0;
	border:1px solid #004a0c;
	color:#004a0c;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	padding:5px;
	margin-bottom:20px;
}

.err{
	background-color: #ffaaaa;
	border:1px solid #890000;
	color: #890000;
	text-align: center;
	font-weight: bold;
	font-size: 0.8em;
	padding:5px;
	margin-bottom:20px;
}

.pr_type{
	margin-bottom:10px;
}

.pr:hover .help, .preloaders:hover .help{
	background:url(/images/help.png) left top no-repeat;
}

.help{
	position:absolute;
	left:-22px;
	top:4px;
	background:none;
	width:22px;
	height:16px;
}

.help div{
	position:absolute;
	left:-180px;
	top:-10px;
	width:150px;
	background:#FAFAFA;
	padding:5px;
	display:none;
	border:1px solid #0086b8;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;	
    -moz-box-shadow: 0px 0px 5px #AAA;
    -webkit-box-shadow: 0px 0px 5px #AAA;
    box-shadow: 0px 0px 5px #AAA;
	z-index:100;
}

.help img.help_arrow{
	display:none;
	position:absolute;
	left:-19px;
	top:6px;
	z-index:200;
}

.preloaders .help{
	top:19px;
}

#advancedOptions{
	margin-top:20px;
	padding-top:10px;
}

#advanced{
	padding-right:13px;
	background:url(/images/advanced_down.gif) right 12px  no-repeat #3fc4ff;
}

a.feature_link{
	text-decoration:none;
	background-color:#3fc4ff;
	color:#FFF;
	padding:5px 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;	
}

a.feature_link:hover, #advanced:hover{
	text-decoration:none;
	background-color:#0086b8;
}

.share{
}

.share .plusone{
	position:absolute;
	left:352px;
	top:5px;
}

.generated{
	margin-left:2px;
	margin-top:25px;
	font-size:12px;
}

.form{
	background:#FFF;
	padding:20px;
	border:0px solid #0086b8;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;	
    -webkit-box-shadow:0 1px 3px rgba(0, 53, 98, .5);
    -moz-box-shadow:0 1px 3px rgba(0, 53, 98, .5);
    box-shadow:0 1px 3px rgba(0, 53, 98, .5);
}

.language_select_link{
	width:100px;
	padding:3px 15px 3px 25px;
	background:url(/images/russian.png) left 0px no-repeat;
	margin-top:5px;
	margin-left:0px;
	line-height:25px;
}

#language_select:hover{
	background-color:#EFEFEF;
}

.post{
	margin:0 0 25px 0;
}

.post .posted_by{
	font-weight:bold;
	padding:5px;
	background:#bcebff;
	margin-bottom:10px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;	
}

.post .posted_by.app{
	background:#ffc342;
	border:1px solid #FFF;
}

.post .posted_by span{
	margin-left:20px;
	font-size:10px;
	font-weight:normal;
}

.post .posted_by .reply, .post .posted_by .approve, .post .posted_by .delete{
	cursor:pointer;
	float:right;
	text-decoration:underline;
	margin-left:10px;
}

.post .posted_by .approve{
	width:24px; 
	height:24px;
	background:url(/images/approve_message.png) no-repeat;
}

.post .posted_by .delete{
	width:24px; 
	height:24px;
	background:url(/images/delete_message.png) no-repeat;
}

.post .post_content{
	line-height:20px;
}

.post_block{
	padding:10px 10px 30px 10px;
	margin-bottom:20px;
	background:#FAFAFA;
	border:1px solid #DDD;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;	
}

.post_block.white{
	background:#FFF;
}

a.paging{
	padding:5px 10px;
	margin:0 5px;
	background:#FFF;
	border:1px solid #DDD;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;	
}

a.paging:hover, a.paging.active{
	border-color:#FFF;
	background:#17b8ff;
	color:#FFF;
	text-decoration:none;
}

.top{
	float:right;
	font-weight:bold;
}

.bottom_b{
	position:relative;
	margin-right:25px;
	min-width:728px;
	margin-top:50px;
}

.bottom_b .hidey, .bottom_b .showey{
	position:absolute;
	left:-158px;
	top:0px;
}

.bottom_b .showey{
	display:none;
}

.size_slider{
	position:absolute; 
	left:57px; 
	top:23px; 
	background:url(/images/size_slider.png); 
	width:7px; 
	height:10px; 
	cursor:n-resize
}

div.search{
	position:absolute; 
	top:49px; 
	right:-2px; 
	width:190px; 
	font-size:9px;
	z-index:1;
}

div.search a{
	font-size:9px;
}

div.search div{
	margin:12px 0 2px 0;
}

.search_button{
	background:url(/images/search_button.gif) left 0 no-repeat; 
	width:38px; 
	height:24px; 
	margin:0px 0 0 5px;
	border:1px solid #0996d4;
	float:left;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, .4);
    box-shadow:0 1px 3px rgba(0, 0, 0, .4);
}

div.search #keywordsInput{
	padding:4px 3px 5px 3px;
	float:left;
}

.center{
	text-align:center;
}

.content:after{
content:'';
clear:both;
display:block;
}


span.cblack{
	color:#000;
}

span.cblue{
	color:#0000ff;
}

span.cdred{
	color:#800000;
}

span.cdred2{
	color:#A31515;
}

span.cgreen{
	color:#008000;
}

span.cred{
	color:#ff0000;
}

.right{
	float:right;
}

.left{
	float:left;
}

.middle{
	vertical-align:middle;
}

.language_select{
	position:absolute;
	z-index:100;
	padding:4px 10px;
	width:120px;
	text-align:left;
	top:-10px;
	right:20px;
	background:url(/images/arrow_down.gif) 119px 14px no-repeat #FFF;
	cursor:pointer;
	border:0;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    -webkit-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    -moz-box-shadow:0 1px 3px rgba(0, 53, 98, .2);
    box-shadow:0 1px 3px rgba(0, 53, 98, .2);
}

.header .menu .language_dropdown a{
	margin-left:0px;
}

.language_dropdown{
	margin:10px 0;
	display:none;
}

.radio{
	float:left;
	width:5px;
	height:5px;
	padding:4px;
	margin:1px 5px 0 0;
	border:1px solid #bcbcbc;
	background:#FFF;
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.radio.focused, .checkbox.focused, .checkbox.focused div, .radio.focused div{
	background:#DCDCDC;
}

.radio div{
	width:5px;
	height:5px;
	background:#FFF;
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}

.radio.active div{
	background:#0086b8;
}

.checkbox{
	background:#FFF;
	float:left;
	width:7px;
	height:7px;
	padding:2px;
	margin:1px 5px 0 0;
	border:1px solid #bcbcbc;
}

.checkbox div{
	width:7px;
	height:7px;
	background:#FFF;
}

.checkbox.active div{
	background:#0086b8;
}

.checkbox.inactive, .checkbox.inactive div,  .checkbox.active.inactive div{
	background:#bcbcbc;
}

.whitebox{
	background:#FFF;
	padding:5px 10px;
	border: 0px #BCBCBC solid;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#downloadOptions{
	position:absolute; 
	left:647px; 
	top:400px; 
	width:200px; 
	display:none; 
	z-index:1000;
}

#downloadOptions .pr1{
	background:#EFEFEF;
	padding:20px;
	width:200px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

ul.simple_list li{
	line-height:20px;
	list-style:circle;
}


.dialog_box{
    border: 0;
    width:900px;
    height:600px;
	position:fixed;
	display:none;
    padding:10px;
	-moz-box-shadow:0 2px 10px rgba(0, 43, 87, .27);
	-webkit-box-shadow:0 2px 10px rgba(0, 43, 87, .27);
	box-shadow:0 2px 10px rgba(0, 43, 87, .27);
	z-index:40000;
	right:50%;
    margin-right:-450px;
	font-family:Lucida Sans Unicode, Arial;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

.page_overlay{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:url(/images/overlay.png);    
    z-index:30000;
	display:none;
}

.dialog_box input[type=email].text-box{
	width:282px;
	height:20px;
	padding:8px;
	font-size:15px;
	font-style:italic;
	font-family:Lucida Sans Unicode, Arial;
	color:aaa9a9;
	border:1px solid #aaa9a9;
}

.dialog_box input.yellow-button{
	width:300px;
	height:35px;
	border:0;
	font-family:Lucida Sans Unicode, Arial;
	font-size:17px;
	color:#262626;
	background:url(/images/yellow-button.png) left top repeat-x #f4aa36;
	margin-top:10px;
}

.dialog-close{
	position:absolute; 
	right:10px; 
	top:10px; 
	background:url(/images/close.png) left top no-repeat #262626; 
	width:26px; 
	height:26px; 
	cursor:pointer;
}

.show-dialog-box{
	cursor:pointer;
}