{{#if media}}
<img src="http://resizer.digital-democracy.org/300/{{media}}">
{{/if}}
<div class="__mf_popup_title {{#if media}}__mf_popup_img{{/if}}">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
</div>
