{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "not ie < 11"]
      },
      "shippedProposals": true
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-runtime"
  ]
}
